<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../layui/css/layui.css">
  <script src="https://cdn.staticfile.org/jquery/3.5.1/jquery.min.js"></script>
  <title>book home</title>
  <style>
body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
}

span.info-head {
  position: relative;
  left: 150px;
}

.navbar {
  position: sticky;
  top: 0;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  background: rgb(231, 226, 221);
  z-index: 1;
}

.logo {
  height: 50px;
  width: 150px;
  margin: 0 auto;
}

img {
  width: 250px;
}

li {
  margin-top: 10px;
}

.new-comment {
  margin: 5px 0;
}

.book-info {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.info-element {
  display: inline-block;
  margin: auto 200px;
}
    
#star {
  position: relative;
  bottom: 7px;
}

textarea {
  border-radius: 8px;
  margin-top: 10px;
}

button.submit {
  font-size: 15px;
}

.comment-show {
  position: relative;
  left: 20px;
  text-align: left;
}
  </style>

</head>
<body>
  <!-- navigation bar -->
  <nav class="navbar">
    <img src="../images/logo.png" alt="logo" class="logo" />
  </nav>
  <!-- end of navigation bar -->
  <div class="book-info">
    <img src=<%= book.Book_picture %> alt="book picture">
    <div class="info-element">
      <b><span class="info-head">book information</span></b>
      <ul>
        <li><b>name:</b>  <%= book.Book_name %></li>
        <li><b>writer:</b> <%= book.Book_writer %></li>
        <li><b>tag:</b> <%= book.Book_kind1 %> <b>||</b> <%= book.Book_kind2 %> <b>||</b> <%= book.Book_kind3 %></li>
        <li><b>store:</b> <%= book.Book_Store %></li>
        <li><b>publisher:</b> <%= book.Book_pub %></li>
        <li><b>isbn:</b> <%= book.Book_pubnum %></li>
        <li><b>stock:</b> <%= book.Book_stock %></li>
        <li><b>price:</b> <%= book.Book_price %></li>
        <li><b>mark:</b> <%= book.Book_mark === null ? 'no comment now' : book.Book_mark %></li>
      </ul>
    </div>
  </div>
<div class="layui-tab layui-tab-card">
  <ul class="layui-tab-title">
    <li class="layui-this">book intro</li>
    <li>your comment</li>
  </ul>
  <div class="layui-tab-content" style="height: 170px;">
    <div class="layui-tab-item layui-show">
      <br><%= book.Book_intro %>
    </div>
    <div class="layui-tab-item">
      <div class="new-comment">
        your mark:
        <div id="star"></div><br>
        your comment:<br>
        <textarea class="comment-area" cols="130" rows="2" placeholder="comment should be less than 200 characters"></textarea>
        <button class="add-comment">submit</button>
      </div>
    </div>
  </div>
</div>
<!-- comment area -->
<div class="comment-show">
  <% for (let i = 0; i < comments.length; i++) { %>
  <b>comment <%= i+1 %></b>
  <p>rating: <%= comments[i].Comment_mark %></p>
  <p>detail: <%= comments[i].Comment_detail %></p><br>
  <% } %>
</div>
<!-- end of comment area -->

<script src="../layui/layui.all.js"></script>
<script>
  var Store_num = <%= book.Store_num %>
  var layer = layui.layer
  var rating = -1
  layui.use(['rate'], function () {
    var rate = layui.rate;
    rate.render({
      elem: '#star'
      ,choose: (value) => {
        rating = value * 2
      }
    })
  })

  layui.use('element', function(){
    var $ = layui.jquery
    ,element = layui.element;
  });

  $('.add-comment').click(() => {
    if (rating === -1) {
      layer.msg('rate cannot be empty')
      return
    }
    const comment = $('.comment-area').val()
    if (comment === '') {
      layer.msg('comment cannot be empty')
      return
    }
    $.ajax({
      url: '/addComment',
      data: {
        // Comment_num
        // User_num
        Store_num: Store_num,
        // Order_num
        // Comment_ID
        Comment_detail: comment,
        Comment_mark: rating
      },
      type: 'post',
      dataType: 'json',
      success: (data) => {
        if (data.code === 1) {
          layer.msg('you have not ordered this book yet')
        } else {
          layer.msg('ok')
        }
      }
    })
  })
</script>
</body>
</html>
